<a href="https://colab.research.google.com/github/syafirgacor/AVD-PRAKTIKUM/blob/main/Syafir_Ahzami_2509116074_Checkpoint1_AVD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Judul**

"Supermarket Sales Dataset"

# **Import Library**

In [ ]:
import pandas as pd

# **Memuat Dataset**

In [ ]:
file = "/content/drive/MyDrive/Praktikum AVD/SuperMarket Analysis.csv"
df = pd.read_csv(file)

df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,Giza,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,1:46:00 PM,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,Cairo,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,5:16:00 PM,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,Alex,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,1:22:00 PM,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,Alex,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,3:33:00 PM,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,Alex,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,1:28:00 PM,Cash,618.38,4.761905,30.9190,6.6

# **Businnes Understanding**

## **Businnes Objective**

Dataset ini merupakan dataset penjualan supermarket (ritel) pada tahun 2016. Dataset ini memiliki 1000 baris dan 17 kolom. Tujuan dari analisis pada dataset ini adalah untuk memahami tren penjualan, perilaku pelanggan, dan kinerja operasional dari ke 3 cabang perusahaan tersebut.

## **Assess Situation**

Analisis dataset ini berdasarkan data transaksi dari 3 cabang supermarket yang ada di negara Myanmar tepatnya Yangon, Naypyitaw, dan Mandalay. Terdapat variasi performa penjualan yang berbeda antara ke 3 cabang, namun perusahaan belum memiliki pemetaan yang jelas mengenai faktor utama yang mendorong kepuasan pelanggan dan efisiensi metode pembayaran.

## **Analytic Goals And Project Plan**

Tujuan Analisis Data dalam mengolah dataset ini adalah sebagai berikut:

* Melakukan identifikasi produk dengan pendapatan dan margin kotor tertinggi
* melakukan segmentasi pelanggan berdasarkan tipe keanggotaan dan gender
* memetakan tren penjualan harian dan jam sibuk

Perencanaan Proyek dalam mengolah dataset ini adalah sebagai berikut:

* Melakukan Persiapan Data (Data Preparation) untuk mentransformasi data mentah menjadi data yang bersih dan bermakna
* Mengidentifikasi kondisi, karakteristik, serta
potensi masalah
* Melakukan Visualization dengan mengubah data yang komplek menjadi bentuk visual
* Menyusun dashboard dan membuat laporan
* Meringkas dan menyimpulkan hasil dari analisis serta visualisasi data yang telah diolah untuk menjadi saran bisnis